<h1><%= @city.name %></h1>

<h2>Population: <%= @city.population %></h2>

<h2>Country: <a href="/countries/<%=@country.id%>"><%= @country.name %></a></h2>

<a href="/cities">
Back
</a>


<a href="/cities/<%=@city.id%>/edit">
Edit
</a>


<form class="" action="/cities/<%=@city.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="delete" value="Delete">
</form>
